*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        background-color: rgb(221, 222, 217);
        display: grid;
    
    }

    .navbar {
        grid-area: navbar;
        background-color: #4a57ec;
        padding: 20px;
        font-size: 30px;
        display: flex;
        color: white;
        justify-content: center;
    }

    .sidebar {
        grid-area: sidebar;
        padding: 10px;
        font-size: 30px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }


    .main {
        grid-area: main;
        padding: 20px;
        font-size: 30px;
        border: black 1px solid;

    }

    .footer {
        grid-area: footer;
        background-color:white;
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

.las-categorias {
    background-color: none;
    display: flex;
    flex-direction: column; 
    color: black;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    align-items: center
}


.grid-container {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "footer footer ";    
    grid-template-columns: 15% 1fr;
}

.grilla-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
    gap: 20px;
}

.producto {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%; /* Todas las tarjetas igualan altura */
    
}

.producto img {
    width: 100%;
    height: 200px; /* Misma altura para todas las imágenes */
    object-fit: cover; /* Recorta sin deformar */

}

.producto h3 {
    margin: 10px 0;
}

.producto p {
    flex-grow: 1; /* Empuja el botón hacia abajo */
}

.producto button {
    margin-top: 15px;
    font-size: 20px;
}


.texto-descripcion {
    flex-grow: 1;
    font-size: small;
}

.boton-comprar {
    width: 100%;
    margin-top: auto;
    background-color: #4a57ec;
    color: white;
    border: none;
    padding: none;
    border-radius: 5px;
    cursor: pointer;
}

